<div class="container">
    <h1>Movie Search</h1>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s10">
                    <input id="movie_title" type="text" class="validate" [(ngModel)]="title" name="title">
                    <label for="movie_title" class="movie_title_label">Enter movie title</label>
                </div>
                <div class="col s2">
                    <button class="btn waves-effect waves-light" type="submit" name="action" (click)="getMovie()">Search
                        <i class="material-icons right">search</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="movie">
        <h2 appHighlight class="movie-title">{{ movie.Title }}</h2>
        <div class="poster-container">
            <img [src]="movie.Poster" alt="{{ movie.Title }} poster">
        </div>
        <p>{{ movie.Plot }}</p>
        <table>
            <tr>
                <td><b>Director:</b></td>
                <td>{{ movie.Director }}</td>
            </tr>
            <tr>
                <td><b>Actors:</b></td>
                <td>{{ movie.Actors }}</td>
            </tr>
            <tr>
                <td><b>Released:</b></td>
                <td>{{ movie.Released }}</td>
            </tr>
            <tr>
                <td><b>IMDb Rating:</b></td>
                <td>{{ movie.imdbRating }}</td>
            </tr>
            <tr>
                <td><b>Runtime:</b></td>
                <td>{{ movie.Runtime | time }}</td>
            </tr>
            <tr>
                <td><b>Awards:</b></td>
                <td>{{ movie.Awards }}</td>
            </tr>
            <tr>
                <td><b>Box Office:</b></td>
                <td>{{ movie.BoxOffice }}</td>
            </tr>
            <tr>
                <td><b>Country:</b></td>
                <td>{{ movie.Country }}</td>
            </tr>
            <tr>
                <td><b>DVD:</b></td>
                <td>{{ movie.DVD }}</td>
            </tr>
            <tr>
                <td><b>Genre:</b></td>
                <td>{{ movie.Genre }}</td>
            </tr>
            <tr>
                <td><b>Language:</b></td>
                <td>{{ movie.Language }}</td>
            </tr>
            <tr>
                <td><b>Metascore:</b></td>
                <td>{{ movie.Metascore }}</td>
            </tr>
            <tr>
                <td><b>Production:</b></td>
                <td>{{ movie.Production }}</td>
            </tr>
            <tr>
                <td><b>Rated:</b></td>
                <td>{{ movie.Rated }}</td>
            </tr>
            <tr>
                <td><b>Website:</b></td>
                <td>{{ movie.Website }}</td>
            </tr>
            <tr>
                <td><b>Writer:</b></td>
                <td>{{ movie.Writer }}</td>
            </tr>
            <tr>
                <td><b>Year:</b></td>
                <td>{{ movie.Year }}</td>
            </tr>
            <tr>
            </tr>
        </table>
    </div>
</div>